<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="http://www.harvestmooncandle.com/securedownload.png"/>
    <title>L.Canizzo</title>    
    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>

    <div class="wrapper">

        {{{body}}}
        
        <div class="push">
        </div>
    </div>



    <div class="navbar navbar-default fixed-footer">
        <div class="container">
            <p class="navbar-text footer-content">407.973.4743
            </p>
            <a class="navbar-nav footer-content" href="https://github.com/lcanizzo" target="_blank">github.com/lcanizzo
            </a>
            <a class="navbar-nav footer-content" href="https://www.linkedin.com/in/luca-canizzo-108339147/" target="_blank">Linkedin
            </a>
            <p class="navbar-text footer-content" target="_blank">Copyright &copy; 2017 Luca Canizzo
            </p>
        </div>
    </div>
    
</body>
</html>