<nav class="navbar navbar-default">
    <div class="container  navbar-box">
        <div class="brand-container">
            <a class="navbar-brand header-title" href="/">L.Canizzo</a>
        </div>
        <div class="nav-pages">
            <div class="row nav-pages-row">
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/work">Work</a>
                </div>
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/contact">Contact</a>
                </div>
                <div class="col nav-page">
                    <a class="nav-link header-content" href="/bio">Bio</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="bio-content container">
    <div class="row">
        <div class="col bio-img">
            <img class="img-fluid" src="assets/images/bio-pic.png" alt="Profile Picture">
        </div>
        <div class="col">
            <div class="row" id="first-paragraph">
                <p class="bio-text">Hey there! I'm Lou, and I am a full-stack web developer with an interest in data analysis and database management. I first became interested in development during my Bachelor's degree at the University of Central Florida, where i spearheaded research developing, distributing, and analyzing a survey of the UCF student body population. This experience started me down a road of answering questions, solving problems, and making life simpler through programming.
                </p>
            </div>
            <div class="row">
                <p class="bio-text">I've always enjoyed problem solving, and the feeling of growth and accomplishment that comes from learning and using new technologies and methods. When I'm not coding, I'm probably outside, nevertheless I am always available to talk shop or connect. 
                </p>
            </div>
        </div>
    </div>
</div>