<div class="container vertical-center">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="home-content title">Luca Canizzo</h1>
            <h2 class="home-content">Full Stack Web Development.</h2>
        </div>

        <div class="col-auto">
            <img src="/assets/images/icon.jpg" alt="home screen icon"> 
        </div>

        <div class="col">
            <ul class="nav justify-content-center home-content">
                <li class="nav-item">
                    <a class="nav-link home-link" href="work.html">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-link" href="bio.html">Bio</a>
                </li>
            </ul>
        </div>
    </div>
</div>