<div class="container vertical-center">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="home-content title">Luca Canizzo</h1>
            <h2 class="home-content">Full Stack Web Developer.</h2>
        </div>

        <div class="col-auto">
            <img src="/assets/images/icon.jpg" alt="home screen icon"> 
        </div>

        <div class="col">
            <ul class="nav justify-content-center home-content">
                <li class="nav-item">
                    <form action="/work" method="GET">
                        <a class="nav-link home-link" href="/work">Work</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/contact" method="GET">
                        <a class="nav-link home-link" href="/contact">Contact</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/bio" method="GET">
                        <a class="nav-link home-link" href="/bio">Bio</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>