/* Body Navbar and Wrapper */

html, body {
    background-color: #fefefe;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar-box {
    max-height: 60px;
}

.nav-pages {
    display: inline-block;
}

.header-content {
    color: #444;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
}

.header-title {
    color: #444;
    font-family:'Open Sans', sans-serif;
    font-size: 32px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
    }

.push {
    height: 60px;
}
    
.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page */

.home-content .title {
    color: #444;
    font-family:'Open Sans', sans-serif;
}

.title {
    font-size: 52px;
}

.home-link {
    color: #444;
    font-size: 42px;
    font-family:'Open Sans', sans-serif;
}

a:hover {
    color: #888888;
    text-decoration: underline;
}

/* Bio Page */

.bio-content {
    margin-top: 10%;
}

.bio-img {
    max-width: 30%;
    margin-right: 20px;
}

#first-paragraph {
    padding-top: 3%;
}

/* Work Page */
.app-icon {
    background-color: rgb(226, 222, 222);
    font-size: 75px;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
}

.icon-text {
    position: absolute;
    margin-left: 14%;
    margin-top: 8%;
    font-weight: bold;
}

.languages {
    font-size: 18px;
    padding: 0;
}

.work-container {
    margin-top: 90px;
}

.work-box {
    margin: 20px;
    position: relative;
    padding: 0;
}

.img-responsive {
    width: 100%;
}

.work-title {
    text-align: center;
    color: #333333;
    font-family:'Open Sans', sans-serif;
}

/* Contact Page */

.contact-page-content {
    margin-top: 35px;
    color: #444;
    font-family:'Open Sans', sans-serif;
}

.connect {
    margin-top: 5px;
}

.jumbotron {
    width: 100%;
    text-align: center;
}

.contact-links-width {
    /* width: 80%; */
}

/* Footer */

.footer-content {
    color: #444;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.fixed-footer {
    position: absolute;
    width: 100%;
    max-height: 60px;
    bottom: 0;
    left: 0;
}

.center-footer {
    margin: 0 auto;
    width:50%;
}

/* Media Queries */

@media only screen and (max-width:480px) {
    .bio-img {
        display:none;
    }
    .bio-content {
        font-size: 12px;
        margin-top:20px;
    }
}

@media only screen and (max-width:386px) {
    .nav-pages-row {
        width: 215px;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    .nav-page {
        padding: 3px;
    }
    .header-content {
        padding: 3px;
    }
}

/*@media only screen and (max-width:664px) {
    .work-title-box {
        height: 45%;
    }
} */